<div class="row mb-3">
  <div class="col-md-4">
    <app-card
      class="bg-primary"
      title="Total Employee"
      [value]="employeeNumber"
    ></app-card>
  </div>
  <div class="col-md-4">
    <app-card
      class="bg-success"
      title="Highest Earner"
      [value]="highestEarningEmployee"
    ></app-card>
  </div>
  <div class="col-md-4">
    <app-card
      class="bg-info"
      title="Last Joined"
      [value]="recentlyJoinedEmployee"
    ></app-card>
  </div>
</div>

<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
>
  <h1 class="h2">Employee List</h1>
</div>

<div
  class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3"
>
  <form>
    <div class="form-group form-inline">
      Filter name:
      <input class="form-control ml-2" type="text" [formControl]="filterName" />
    </div>
  </form>
</div>

<table class="table table-striped table-bordered table-hover">
  <thead>
    <tr>
      <th scope="col" class="d-none">#</th>
      <th scope="col" class="d-none">Employee ID</th>
      <th scope="col" sortable="name" (sort)="onSort($event)">Name</th>
      <th scope="col" sortable="date" direction="desc" (sort)="onSort($event)">
        Date Joined
      </th>
      <th scope="col" sortable="salary" (sort)="onSort($event)">Salary</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let employee of employees">
      <td class="d-none">{{ employee.id }}</td>
      <td class="d-none">{{ employee.employeeId }}</td>
      <th scope="row" style="width: 60%">
        {{ employee.firstname }} {{ employee.lastname }}
      </th>
      <td>{{ employee.dateJoined | date: "d MMMM y" }}</td>
      <td>{{ currency }} {{ employee.salary | number: "1.2-2" }}</td>
    </tr>
  </tbody>
</table>
